<div class="list" style="margin-top: 50px;  background-color: rgb(255, 255, 255);
    width: 1000px;
    border: 7px solid rgb(221, 48, 5);
    padding: 50px;
    margin: 20px;
    
    font-family: 'Sarabun', sans-serif;">
        <a href="{{ doc.route }}">{{doc.project_name}} </a>
        <p><strong>ผู้ดูแล:&nbsp;&nbsp;&nbsp;</strong>{{doc.club_name}}&nbsp;&nbsp;&nbsp;<strong>ผู้จัดงาน:&nbsp;&nbsp;&nbsp;</strong>{{doc.project_manager}}&nbsp;&nbsp;&nbsp;</p>
        <p><strong>ชื่อผู้จัดงาน:&nbsp;&nbsp;&nbsp;</strong> {{doc.manager_name}} &nbsp;&nbsp;&nbsp;<strong>วัตถุประสงค์ของการจัดกิจกรรม:&nbsp;&nbsp;&nbsp;</strong>{{doc.objective}}</p>
        <p><strong>รายละเอียดของกิจกรรม :&nbsp;&nbsp;&nbsp;</strong>{{doc.description}} &nbsp;&nbsp;&nbsp; <strong>กิจกรรมแยกย่อย:&nbsp;&nbsp;&nbsp;</strong>{{doc.activity}}&nbsp;&nbsp;&nbsp;<strong>ค่าใช้จ่ายทั้งหมดในกิจกรรม:&nbsp;&nbsp;&nbsp;</strong>{{doc.expense}}&nbsp;&nbsp;&nbsp; </p>
        <p><strong>วันที่จัดกิจกรรม :&nbsp;&nbsp;&nbsp;</strong>{{doc.date_submitted}} &nbsp;&nbsp;&nbsp;</p>
        

  </div>
<!-- this is a sample default list template -->
