{% extends "templates/web.html" %}

{% block page_content %}
<!-- <h1 class="text-success" style="font-weight: bold;">Series numbe: {{ title }}</h1> -->
<section class="p-4">
    <div class="row">
        <div class="col-6">
            <img src="{{upload}}" alt="Card image cap" width="100%"> 
        </div>
        <div class="col-6 pt-5">
            <h1><span style="font-weight: bold; ">{{product_name}}</span>  </h1>
            <div class="row">
                <div class="col-5">
                    <h5 style="font-weight: bold; ">Product Type: </h5>
                </div>
                <div class="col-7">
                    <h5>{{product_type}}</h5>
                </div>
                <div class="col-5">
                    <h5 style="font-weight: bold; ">Product Category:</h5>
                </div>
                <div class="col-7">
                    <h5>{{product_category}}</h5>
                </div>
                <div class="col-5">
                    <h5 style="font-weight: bold; ">Product Subcategory: </h5>
                </div>
                <div class="col-7">
                    <h5>{{product_subcategory}}</h5>
                </div>
                <div class="col-5">
                    <h5 style="font-weight: bold; ">Model: </h5>
                </div>
                <div class="col-7">
                    <h5>{{model}}</h5>
                </div>
                <div class="col-5">
                    <h5 style="font-weight: bold; ">Company: </h5>
                </div>
                <div class="col-7">
                    <h5>{{company}}</h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h5 class="mt-5 mb-2" style="font-weight: bold;">Submit Detail</h5>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Date Submitted: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{date_submitted}}</h6>
                </div>
                
                <div class="col-4">
                    <h6 style="font-weight: bold;">Year Launched: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{year_launched}}</h6>
                </div>
                <div class="col-4">
                    <h6 style="font-weight: bold;">Month Launched: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{month_launched}}</h6>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Description: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{product_description}}</h6>
                </div>
                <div class="col-4">
                    <h6 style="font-weight: bold;">Launch Detail: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{launch_detail}}</h6>
                </div>
            </div>
        </div>
    </div>
    <h5 class="mt-5 mb-2" style="font-weight: bold;">Media</h5>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Attach File: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{media[0].attached_file}}</h6>
                </div>
                <div class="col-4">
                    <h6 style="font-weight: bold;">Description: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{media[0].description}}</h6>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Title: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{media[0].title}}</h6>
                </div>
                <div class="col-4">
                    <h6 style="font-weight: bold;">Reference: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{media[0].reference}}</h6>
                </div>
            </div>
        </div>
    </div>
    <h5 class="mt-5 mb-2" style="font-weight: bold;">Opinion</h5>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Opinion: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{opinion[0].opinion}}</h6>
                </div>
                <div class="col-4">
                    <h6 style="font-weight: bold;">Reference: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{opinion[0].reference}}</h6>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Source: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{opinion[0].sorurce}}</h6>
                </div>
            </div>
        </div>
    </div>
    <h5 class="mt-5 mb-2" style="font-weight: bold;">Revision</h5>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Opinion: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{revision[0].revison_remark}}</h6>
                </div>
            </div>
        </div>
    </div>
    <h5 class="mt-5 mb-2" style="font-weight: bold;">Reference</h5>
    <div class="row">      
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Title: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{reference[0].title}}</h6>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <h6 style="font-weight: bold;">Reference: </h6> 
                </div>
                <div class="col-8">
                    <h6>{{reference[0].reference}}</h6>
                </div>
            </div>
        </div>
    </div>
    

</section>

<style>
    /* body{
        background-color: #fffbde;
    }
    section{
        background-color: white;
    } */
</style>



{% endblock %}

<!-- this is a sample default web page template -->
