{% extends "templates/web.html" %}
{% block header %}
<h2>Source Detail</h2>
{% endblock %}

{% block page_content %}
<p><b>Title : </b> {{ doc.title }} &nbsp;&nbsp; [abbrev: {% if doc.abbrev %}{{doc.abbrev}}      {%endif%}]</p>
<p><b>URL : </b> {{ doc.url }}</p>
<p><b>Type : </b> {{ doc.publication_type }}</p>
<p><b>Database Record : </b>
<input type="checkbox" {%if doc.scopus%}checked{%endif%} onclick="return false;">&nbsp;SCOPUS</input>&nbsp;&nbsp;
<input type="checkbox" {%if doc.sjr%}checked{%endif%} onclick="return false;">&nbsp;SJR</input>&nbsp;&nbsp;
<input type="checkbox" {%if doc.isi%}checked{%endif%} onclick="return false;">&nbsp;ISI</input>
</p>

<p><b>SJR Impact Factor : </b> {% if doc.sjr_impact_factor %}{{doc.sjr_impact_factor}} {%endif%}</p>
<p><b>ISI Impact Factor : </b> {% if doc.isi_impact_factor %}{{doc.isi_impact_factor}} {%endif%}</p>
<p><b>Other Impact Factor : </b> {% if doc.others %}{{doc.others}} {%endif%} </p>


<p><b>Support for Faculty Members : </b>
<input type="checkbox" {%if doc.publishing_expense%}checked{%endif%} onclick="return false;">&nbsp;Publication Expense</input>&nbsp;
<input type="checkbox" {%if doc.reward%}checked{%endif%} onclick="return false;">&nbsp;Publication Reward</input>&nbsp;&nbsp;
<span><i>Remark</i> : {% if doc.fac_support_remark %} {{doc.fac_support_remark}} {%endif%} </span>
</p>

<p><b>Support for Students : </b>
<ul>

<li><b>UG Publication Support : </b>
<input type="checkbox" {%if doc.u_support_ug%}checked{%endif%} onclick="return false;">&nbsp;UG KMITL Support</input>&nbsp;&nbsp;
<input type="checkbox" {%if doc.s_support_ug%}checked{%endif%} onclick="return false;">&nbsp;UG FIT Support</input>&nbsp;&nbsp;
</li>

<li><b>PG Publication Support : </b>
<input type="checkbox" {%if doc.u_support_pg%}checked{%endif%} onclick="return false;">&nbsp;PG KMITL Support</input>&nbsp;&nbsp;
<input type="checkbox" {%if doc.s_support_pg%}checked{%endif%} onclick="return false;">&nbsp;PG FIT Support</input>&nbsp;&nbsp;
</li>
</ul>

<p><b>Use for PG Graduation: </b>
<input type="checkbox" {%if doc.phd_full_time_status_change%}checked{%endif%} onclick="return false;">&nbsp;PhD Full-time Conversion</input>&nbsp;&nbsp;
<input type="checkbox" {%if doc.msc_graduation%}checked{%endif%} onclick="return false;">&nbsp;MSc. Program</input>&nbsp;&nbsp;
<input type="checkbox" {%if doc.phd_graduation%}checked{%endif%} onclick="return false;">&nbsp;PhD. Program</input>&nbsp;&nbsp;

</p>

<p><b>Approval Year :</b> {% if doc.approval_year %} {{doc.approval_year}} {%endif%}</p>
<p><b>Additional Remark :</b> {% if doc.additonal_remark %} {{doc.additonal_remark}} {%endif%}</p>


{% endblock %}
