{% extends "templates/web.html" %}

{% block page_content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student board application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
</head>
<style>
  body{
    font-family: 'Merriweather', serif;
    
  }
  .topnav {
  overflow: hidden;
  background-color: rgb(174, 175, 177);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 27px;
  
}
.good{
  margin-top : 35px ;
    font-family: 'Sarabun', sans-serif;
   
      }
      .good1{
          margin-top : 20px ;
      }
      p{
        font-size: 18px;
      }
      

</style>
<body>
  <div class="topnav" style="color: white;">
    <a>STUDENT BOARD APPLICATION</a>
  </div>
  <div class="container good">
    
        <h1><center> ใบสมัครงาน </center></h1>
        
        
   
    
        <div  style="margin-top: 85px;" >
        <center>
            <p ><strong>ชื่อตำแหน่ง:&nbsp;&nbsp;&nbsp;</strong>{{job_name}}&nbsp;&nbsp;&nbsp;<strong>ประเภทงาน:&nbsp;&nbsp;&nbsp;</strong>{{job_type}}&nbsp;&nbsp;&nbsp;<strong>รหัสนักศึกษา:&nbsp;&nbsp;&nbsp;</strong>{{student_id}}&nbsp;&nbsp;&nbsp;<strong>ชื่อจริง:&nbsp;&nbsp;&nbsp;</strong>{{first_name}}&nbsp;&nbsp;&nbsp;<strong>นามสกุล:&nbsp;&nbsp;&nbsp;</strong>{{last_name}}</p>
        </div> </center>

        <div  style="margin-top: 30px;" >
            <center>
            <p ><strong>บ้านเลขที่:&nbsp;&nbsp;&nbsp;</strong>{{present_address}}&nbsp;&nbsp;&nbsp;<strong>หมู่:&nbsp;&nbsp;&nbsp;</strong>{{moo}}&nbsp;&nbsp;&nbsp;<strong>ถนน:&nbsp;&nbsp;&nbsp;</strong>{{road}}&nbsp;&nbsp;&nbsp;<strong>ตำบล/แขวง:&nbsp;&nbsp;&nbsp;</strong>{{sub_district}}&nbsp;&nbsp;&nbsp;</p>
        </div> </center>

        <div  style="margin-top:30px;" >
            <center>
          <p ><strong>อำเภอ/เขต:&nbsp;&nbsp;&nbsp;</strong>{{district}}&nbsp;&nbsp;&nbsp;<strong>จังหวัด:&nbsp;&nbsp;&nbsp;</strong>{{province}}&nbsp;&nbsp;&nbsp;<strong>รหัสไปรษณีย์:&nbsp;&nbsp;&nbsp;</strong>{{post_code}}</p>
        </div>  </center>

         <div  style="margin-top:30px;" >
          <center>
          <p ><strong>เบอร์โทรศัพท์:&nbsp;&nbsp;&nbsp;</strong>{{phone_number}}&nbsp;&nbsp;&nbsp;<strong>อีเมล:&nbsp;&nbsp;&nbsp;</strong>{{email}}&nbsp;&nbsp;&nbsp;<strong>อาศัยอยู่กับ:&nbsp;&nbsp;&nbsp;</strong>{{living}}&nbsp;&nbsp;&nbsp;<strong>วันเกิด:&nbsp;&nbsp;&nbsp;</strong>{{dob}}&nbsp;&nbsp;&nbsp;<strong>อายุ:&nbsp;&nbsp;&nbsp;</strong>{{age}}&nbsp;&nbsp;&nbsp;<strong>เชื้อชาติ:&nbsp;&nbsp;&nbsp;</strong>{{race}}</p>
        </div>  </center>

        <div  style="margin-top:30px;" >
            <center>
            <p ><strong>สัญชาติ:&nbsp;&nbsp;&nbsp;</strong>{{nationality}}&nbsp;&nbsp;&nbsp;<strong>ศาสนา:&nbsp;&nbsp;&nbsp;</strong>{{religion}}&nbsp;&nbsp;&nbsp;<strong>รหัสบัตรประชาชน:&nbsp;&nbsp;&nbsp;</strong>{{id_card_no}}&nbsp;&nbsp;&nbsp;<strong>วันหมดอายุ:&nbsp;&nbsp;&nbsp;</strong>{{expiration_date}}&nbsp;&nbsp;&nbsp;</p>
          </div>  </center>
               
        <div  style="margin-top:30px;" >
            <center>
            <p ><strong>สถานะการเกณฑ์ทหาร:&nbsp;&nbsp;&nbsp;</strong>{{military_status}}&nbsp;&nbsp;&nbsp;<strong>สถานภาพ:&nbsp;&nbsp;&nbsp;</strong>{{marital_status}}</p>
          </div>  </center>
          
      
      
  
      
  </div>

  
</body>
</html>
{% endblock %}

<!-- this is a sample default web page template -->