<div class="list" style="margin-top: 50px;  background-color: rgb(255, 255, 255);
    width: 1000px;
    border: 7px solid rgb(196, 159, 204);
    padding: 50px;
    margin: 20px;
    
    font-family: 'Sarabun', sans-serif;">
        <a href="{{ doc.route }}">{{doc.job_name}} </a>
        <p><strong>ประเภทงาน:&nbsp;&nbsp;&nbsp;</strong>{{doc.job_type}}&nbsp;&nbsp;&nbsp;<strong>ชื่อจริง:&nbsp;&nbsp;&nbsp;</strong>{{doc.first_name}}&nbsp;&nbsp;&nbsp;<strong>นามสกุล:&nbsp;&nbsp;&nbsp;</strong>{{doc.last_name}}&nbsp;&nbsp;&nbsp;</p>

        <p><strong>อีเมล:&nbsp;&nbsp;&nbsp;</strong>{{doc.email}} &nbsp;&nbsp;&nbsp;<strong>เบอร์โทรศัพท์:&nbsp;&nbsp;&nbsp;</strong>{{doc.phone_number}}</p>
        

  </div>
<!-- this is a sample default list template -->
