<div style="background-color: rgb(255, 255, 255);
width: 1000px;
border: 7px solid rgb(219, 106, 13);
padding: 50px;
margin: 20px;">
	<a href="{{ doc.route }}">เรื่อง: {{doc.topic}} </a>
	<p style="margin-left: 15px;"><strong>จาก :&nbsp;&nbsp;&nbsp;</strong>{{doc.first_name}} {{doc.last_name}} &nbsp;&nbsp;&nbsp;<strong>รหัสนักศึกษา:&nbsp;&nbsp;&nbsp;</strong>{{doc.student_id}}&nbsp;&nbsp;&nbsp;<strong>สาขาวิชา:&nbsp;&nbsp;&nbsp;</strong> {{doc.major}} &nbsp;&nbsp;&nbsp;<strong>แขนงวิชา:&nbsp;&nbsp;&nbsp;</strong>{{doc.program}}</p>
	<p style="margin-left: 15px;"><strong>มีความประสงค์ :&nbsp;&nbsp;&nbsp;</strong>{{doc.request_detail}}</p>
	<p style="text-align: right;">{{doc.date_submitted}}</p>
</div>
<!-- this is a sample default list template -->
