<div class="container">
	<div class="row">
		<div class="col card d-flex" style="width: 25rem;">
  			<div class="card-body">
				<div class="row">
					  <div class="col-3">
						  <img class="card-img-top" src="{{ upload }}" alt="{{ product_name }}" width="100%">
					  </div>
					<div class="col-9">
						<p class="card-text">
							<h3>{{product_name}}</h3>
							<p>{{product_type}}, {{product_category}}, {{product_subcategory}}</p>
						</p>				
						<a href="{{route}}" class="btn btn-primary" style="position: absolute; right: 0; bottom: 0;">See more</a>
					</div>	
				</div>
  			</div>
		</div>
	</div>

	<!-- <a href="{{ doc.name }}">{{ doc.title or doc.name }}</a> -->
</div>
<!-- this is a sample default list template -->
